body{
    margin: 0;
    box-sizing: border-box;
}
.active-link{
    border: 2px solid blue;
}
.ulist{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    background-color: peachpuff;
    height: 5vh;
    width: 100vw;
}